.header{
    background-color: beige;
}
.users img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.users .row .fix{
    margin: 40px 0;
}
body{
    background-color: beige;
    
}
::selection{
    background-color: yellow;
    color: black;
}
img{
    user-select: none;
}
